<!DOCTYPE html>
<html manifest="demo.appcache" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="CoffeeCup HTML Editor (www.coffeecup.com)">
    <meta name="created" content="Tue, 19 Jun 2012 05:53:03 GMT">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <style type="text/css">
  body
  {background-color:#b0c4de;}
h1 {background-color:#6495ed;}
div {background-color:#b0c4de;} 
p.right {text-align:right;}
 </style>
  </head>

  <body>
  <p class="right">You are not logged in.(<a href="">Login</a>)</p> 
  <img src="E:\PSoC 1\PESIT logo.jpg"  width="200" align="left" />
  <font size = 10 />
  <center>
  <h1>Attendance Tracker</h1>
  </center>
  <br />
  <font size = 5 />
  <center>
  <p>Username:
   <input type="text" value="" />
   <!--<a href="" >--> <input type = "submit" name="Mail" value = "Log In" /></p> <!--</a>-->
   </center>
   <font size = 3 />
   <a href="disclaimer.html">Disclaimer</a> 
   </a>
   
</body>
</html>
